<div class="search_bar">
    <form method=GET id="search-by-word" class="search">
        {% csrf_token %}
        <input type="text" id="search-by-word-input" name="searched" placeholder="Search..."
               value="{{ searched }}"/>
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>
    <form class="search_by_image" id="imageForm" method="POST" enctype="multipart/form-data"
          action="{% url 'search_by_image' %}">
        {% csrf_token %}
        <input type="file" id="image" name="image" accept="image/*" onchange="submitForm()">
        <label for="image" class="choose-image">Search by Image</label>
    </form>
    <form class="search_by_voice" method="POST" action="{% url 'search_by_voice' %}">
        {% csrf_token %}
        <button id="search_by_voice" type="submit">Search by Voice</button>
    </form>
</div>