<div class="search_bar">
    <form method=GET id="search-by-word" class="search">
        {% csrf_token %}
        <input type="text" id="search-by-word-input" name="searched" placeholder="Search..."
               value="{{ searched }}"/>
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>

    <form class="search_by_image" id="imageForm" enctype="multipart/form-data">
        <input type="file" id="image" accept="image/*">
        <label for="image" class="choose-image"><i class="fa-solid fa-image image-icon"></i></label>
    </form>
    
{#    <form class="search_by_voice" method="POST" action="{% url 'search_by_voice' %}">#}
{#        {% csrf_token %}#}
{#        <button id="search_by_voice" type="submit">Search by Voice</button>#}
{#    </form>#}
    
{#    <form class="search_by_voice" id="searchByVoiceForm">#}
{#        <button id="search_by_voice" type="button">Search by Voice</button>#}
{#    </form>#}
    
</div>